@model WebUI.Models.PhotoModelView

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>
@foreach(var ph in Model.Photos)
{
    @ph.Name;
}

@*@Html.ActionLink("new", "AddNewPhoto", "Photo", new {userId=ViewBag.UserID })*@
<a href="AddNewPhoto?userId=@ViewBag.UserID">new</a>